.sidebar {
}

.featured_aside_post {
	.visible_title {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.content {
		padding: 1.5em;
	}
}

.aside_posts {
	li {
		padding-bottom: 0.3em !important;
		.button {
			width: auto;
			display: inline-block;
		}
			
	}
	.th {
		border: 2px solid #fff;
	}
	.post_title {
		padding-left: 0.7em;
		.title {
			font-size: 1em;
			margin-bottom: 0.5em;
		}
	}
	.event_landing {
		.event_header {
			min-height: 55px;
		}
		.block_date_container {
			padding: 5px 10px;
			height: 100%;
			&.blocked {
				color: #fff;
				background-color: #666;
			}
		}
		.day {
			font-size: 2em;
		}
		.event_title {
			padding-left: 60px;
		}
	}

}