/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, button, input, select, textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.floatleft {
    float: left;
}
 
.floatright  {
    float: right;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/*
 * Box Sizing
 *
 * Set that shit to border-box, yo. And fix those pesky pseudo elements
 */

/* ==========================================================================
   Border-box all the things!
   ========================================================================== */
*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.light-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
    border-radius: 3px;
}
 
.heavy-rounded {
  -webkit-border-radius: 8px;
  -moz-border-radius:8px;
    border-radius: 8px;
}
 
.full-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
    border-radius: 50%;
}
 
.barrel-rounded {
  -webkit-border-radius: 20px/60px;
  -moz-border-radius: 20px/60px;
    border-radius: 20px/60px;
}

.heading_shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.emphasize-dark {
  -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.35);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.35);
}

.img-polaroid {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

//Remove the gap between images and the bottom of their containers: h5bp.com/i/440*/

img {
  max-width: none;
}

.img_res, .attachment-img_res {
  max-width: $fullWidth;
  height: auto;
}

.img_full, .attachment-img_full {
  width: $fullWidth !important;
}

// A better looking default horizontal rule 

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

// Remove default fieldset styles.

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

//Allow only vertical resizing of textareas.

textarea {
    resize: vertical;
}

table, .full { 
    width: $fullWidth; 
}

.no_back {
  background: none !important;
}

.no_border {
  border: 0 !important;
}

.hide {
    display: none;
}
 
.show {
    display: block;
}

#scrollUp {
  color: #fff;
  text-decoration: none;
  background: #555;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 2px;
  padding: 10px;
  opacity: .9;
  right: 1em;
  bottom: 1em;
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  transition: background 200ms linear;
  -webkit-backface-visibility: hidden;
  &:hover {
    background: #000;
  }
}
