/*Table of Contents
1: Header / Footer
2: Navigation
3: Search

*/

.row {
	max-width: 70rem;
}

.brick_container {
	margin: 0 auto;
}


/* 1: Header Footer */
.master_head, .master_foot {
	background-color: #ccc;
}

/* 2: Navigation */
.social_container {
	max-height: 50px;
	overflow: hidden;
}

.social {
	margin: 0;
	li {
		margin: 0;
	}

	a {
		color: #555;
		padding: 0.8em;
		&:hover {
			color: #fff;
			background-color: #ccc;
		}
	}
}

.master_nav {
	background-color: #eee;
	padding: 0;
}

.main_nav {

	.sur-menu {
		li:hover {
			background-color: none;
		}
	}
	a {
		border-right: 1px solid #ddd;
		padding: 1em 0.5em;
		display: block;
		&:hover {
			color: #fff;
			background-color: #ccc;
		}
	}
	.sub-menu {
		background-color: #fff;
	}

}
	



/* Drop-down styles. */
.menu  {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 1.0;
		float: left;
		ul {
			position: absolute;
			top: -999em;
			width: 10em;
			li {
				width: 100%;	
			}
		}
	}
	li {
		float: left;
		position: relative;	
		&:hover, &.sfHover {
			visibility: inherit;
			ul {
				position: absolute;
				left: 0;
				top: 100%;
				z-index: 99;
			}
			li ul {
				top: -999em;
			}	
		}
		li {
			&:hover, &.sfHover {
				ul {
					left: 10em;
					top: 0;	
				}
				li ul {
					top: -999em;	
				}
			}
			li {
				&:hover, &.sfHover {
					ul {
						left: 10em;
						top: 0;
					}		
				}
				
			}	
		}
	}
	a {
		display: block;
		position: relative;
	}
	
}

.mobile_nav {
	margin: 0;
	padding: 0;
	ul, li {
		list-style: none;
		margin: 0;
	}
	.sub-menu {
		background: #555;
		a {
			font-style: italic;
		}
	}
	a {
		color: #fff;
		border-bottom: 1px solid #666;
		padding: 8px 10px;
		display: block;
		&:hover {
			color: #fff;
			background-color: #666;
		}
	}
}

.searchform {
	input {
		margin-bottom: 0;
	}
}

/* 4: Sliders */
.hero_container {
	min-height: 300px;
}

.orbit-container {
	max-height: 520px;
	overflow: hidden;
	.slide_content {
		z-index: 10;
	}
}

.orbit-bullets-container {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -10px;
	z-index: 10;
}