/* POSTS */

article { 
	margin: 0 0 35px 0; 
	clear: both; 
}

.post { }

.sticky { }

.entry { }
.entry a { }
.entry a:hover { }

img.wp-smiley { 
	border: none;
	padding: 0;  
}

.wp-caption-text { }
.gallery-caption { }

pre { }
code, tt { }

.meta { }
.postmetadata { }

/* Block and Masonry blocks */

#masonryContainer { 
	width: 0 auto;
}

.format_icon {
	color: #fff;
	background-color: #555;

	.format {
		width: 40px;
		height: 40px;
	}

	.dashicons {
		font-size: 40px;
		width: 40px;
		height: 40px;
	}
}



.post_blog {
	background-color: #fff;
	border: 1px solid #ccc;
	position: relative;
	
	.format_icon {
		border: 8px solid rgba(0, 0, 0, 0.2);
		background-clip: padding-box;
		margin: -2.5em auto 0;
		width: 80px;
		height: 80px;
		position: relative;
		z-index: 10;

		.format {
			margin-left: -20px;
			margin-top: -20px;
			position: absolute;
			left: 50%;
			top: 51%; 
		}
	}


	.post_head {
		text-align: center;
	}

	.post_excerpt {
		padding: 0 20px 10px;
	}

	&.standard {
		.format_icon {
			margin-top: 1em;
		}
	}

	&.quote {
		padding: 20px 0;
		p {
			margin-bottom: 0;
		}
	}

	.post_thumb {
		overflow: hidden;
		position: relative;

		.img_clip {
			height: 200px;
		}

		h6 {
			color: #fff;
		}
	}

	.dashicons {
		font-size: 38px;
		width: 38px;
		height: 38px;
	}
}

.post_title .title {
	.title {
		padding: 5px 8px;
	}
}

.post_footer {
	color: #666;
	font-size: 0.8em;
	background-color: #eee;
	border-top: 1px solid #ccc;
	padding: 10px 5px;
}

/* Big Image */

.meta {
	color: $grey-text;
	font-size: 0.9em;
	padding: 10px;
	dd {
		border-bottom: 1px dotted $grey-mid;
		margin-bottom: 5px;
		display: block;
		&:last-child {
			border: none;	
		}
	}
	a {
		color: $grey-text;
	}
	&:hover fa {
		font-size: 110%;
	}
}

.meta_vertical {
	.inline-list > li {
		margin-left: 0.8em;
	}
}

.post_image_big {
	margin-bottom: $margin-bottom-block !important;

	.post_head {
		margin-bottom: $margin-bottom-block;
	}
	&:last-child {
		border: none;
	}
	.meta {
		border: 1px solid $grey-mid;
	}
	.clip {
		max-height: 300px;
	}
}

.post_image_small {
	margin-bottom: $margin-bottom-block !important;

	.post_head {
		margin-bottom: 1em;
	}
	.entry_container {
		border: 1px solid $grey-mid;
		width: 100%;
		float: left;
	}
}

/* Big Ribbon */
.post_ribbon_big {
	.clip {
		max-height: 300px;
	}
	.format_icon {
		padding: 10px;
	}
}

/* Small Ribbon */
.post_ribbon_small {
	.format_icon {
		padding: 2px;
		.dashicons {
			font-size: 30px;
			line-height: 30px;
			padding-top: 5px;
		}
	}
}

/* Sinister Hover Styles */

/* Scale Transform Effects  */

.BackgroundS:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

/* Image Wrapper */

.ContentWrapperH {
	.ContentH {
		background: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		display: block;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	&:hover .ContentH {
		visibility: visible;
		opacity: 1;
	}
}

.ContentWrapperHe {
	* {
		color: #fff;
	}
	.visible_title {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 10px 20px;
		width: 100%;
		bottom: 0;
		z-index: 1;
	}
	&:hover {
		.visible_title {
			visibility: hidden;
			opacity: 0;
		}
		.ContentHe {
			height: 100%;
			visibility: visible;
			opacity: 1;
		}
	}
	.ContentHe {
		background: rgba(0, 0, 0, 0.9);
		width: 100%;
		height: 0;
		display: block;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		&:hover 
			img {
				-webkit-transform: translateY(100%);
				-moz-transform: translateY(100%);
				-ms-transform: translateY(100%);
				-o-transform: translateY(100%);
				transform: translateY(100%);
		}
		.content {
			padding: 1.5em;
		}
	}
}


.ImageWrapper{
	position: relative;
	z-index: 10;
	overflow: hidden;
	* {
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	/* overlays */
	.ImageOverlayH {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-transition: all 0.2s ease 0s;
		-moz-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		transition: all 0.2s ease 0s;
	}
	&:hover .ImageOverlayH {
		opacity: 1;
	}
	
	/* top and bottom in */
	.StyleAl span {
		position: absolute;
		visibility: hidden;
		opacity: 0;

		&:nth-of-type(1) {
			margin: -20px 0 0 -50px;
			top: 0;
			left: 50%;
		}
		&:nth-of-type(2) {
			margin: 0 -50px -20px 0;
			right: 50%;
			bottom: 0;
		}
	}

	&:hover .StyleAl span {
		visibility: visible;
		opacity: 1;
		&:nth-of-type(1) {
			top: 40%;
		}
		&:nth-of-type(2) {
			bottom: 40%;
		}
	}
	
	/* fade in */
	.StyleC {
		text-align: center;
		margin-top: -20px;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 50%;
		-webkit-transform: scale(0.2);
		-moz-transform: scale(0.2);
		-ms-transform: scale(0.2);
		-o-transform: scale(0.2);
		transform: scale(0.2);
	}

    &:hover .StyleC {
    	opacity: 1;
    	visibility: visible;
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	-ms-transform: scale(1);
    	-o-transform: scale(1);
    	transform: scale(1);
    }

	.WhiteRounded{
		font-size: 14px;
		font-weight: normal;
		line-height: 40px;
		text-align: center;
		background-color: #ffffff;
		border: medium none;
		-webkit-border-radius: 250px 250px 250px;
		border-radius: 250px 250px 250px;
		-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5),inset 0 0 2px rgba(0,0,0,.1);
		box-shadow: 0 0 1px rgba(0,0,0,0.5),inset 0 0 2px rgba(0,0,0,.1);
		margin: 0 2px;
		width: 40px;
		height: 40px;
		float: none !important;
		display: inline-block !important;

		> a {
	    	color: #222222;
	    	font-weight: normal;
	    	display: block;
	    }
	}

    .WhiteHollowSquare{
    	font-size: 14px;
    	font-weight: normal;
    	line-height: 40px;
    	text-align: center;
		border: 1px solid #ffffff;
    	margin: 0 2px;
    	width: 100px;
    	height: 40px;
    	float: none !important;
    	display: inline-block !important;

    	> a {
    		color: #ffffff;
    		font-weight: normal;
    		display: block;
    	}
    }

}


/* POST FORMATS */

/* quotes */
blockquote {
	border: 0;
}
.quote_big {
	border: 1px solid $grey-mid;
	.fa {
		color: $grey-mid;
	}
}

/* Products */

.post_product {
	border: 1px solid #ccc;
	position: relative;
	.title {
		padding: 5px;
		height: 70px;
	}
	.product_price {
		color: #fff;
		font-weight: bold;
		background-color: #666;
		padding: 10px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
	}
}

.product_images {
	.featured, .additional_images {
		margin-bottom: 1em;
	}
}

.related_products {
	dd {
		margin-bottom: 0.5em !important;
	}
}

/* SHARING */

.sharing h4 { margin-bottom: 0; padding-bottom: 0; }
.sharing ul { list-style: none; margin-top: 0; padding-top: 5px; margin-bottom: 0; padding-bottom: 0; }
.sharing li { float: left; }
.sharing li:first-child { padding-left: 0; }
.sharing .share-twitter { padding-top: 1px; }
.sharing .share-facebook { padding-top: 1px; }
.sharing .share-googleplus { margin-left: 30px; }

/* POST NAVIGATION */

.pagination {
	padding: 10px;
	.prev, .next {
		font-size: 0.7em;
		text-transform: uppercase;
	}

	.current {
		color: #fff;
		background-color: $grey-mid;
		padding: 2px 3px;
		display: inline-block;
	}
}

.navgation { clear: both; }
.next-posts { float: left; }
.prev-posts { float: right; }
