/* SEARCH */

$input-width: 50px;

.sb-search {
	min-width: $input-width;
	width: 0%;
	height: $input-width;
	float: right;
	position: relative;
	overflow: hidden;
	-webkit-transition: width 0.8s;
	-moz-transition: width 0.8s;
	transition: width 0.8s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	color: #2c3e50;
	font-family: FontAwesome;
	font-size: 20px;
	background: #fff;
	outline: none;
	border: none;
	margin: 0;
	padding: 20px 65px 20px 20px;
	width: 100%;
	height: $input-width !important;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

input[type="search"].sb-search-input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder, .sb-search-input:-moz-placeholder, .sb-search-input::-moz-placeholder, .sb-search-input:-ms-input-placeholder   {
	color: #555;
}

.sb-icon-search, .sb-search-submit  {
	line-height: $input-width;
	text-align: center;
	margin: 0;
	padding: 0;
	width: $input-width;
	height: $input-width;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.sb-search-submit {
	color: transparent;
	background: #fff; /* IE needs this */
	outline: none;
	border: none;
    opacity: 0;
	z-index: -1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
}

.sb-icon-search {
	color: #fff;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	background: #666;
	z-index: 90;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\f002";
	font-family: FontAwesome;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
	color: #fff;
	background: #333;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

#searchform label { }
#searchform div { }
#searchform div input { }
#searchform div input#s { }
#searchform div input#searchsubmit { }