@font-face {
    font-family: "dashicons";
    src: url("assets/scss/partials/fonts/dashicons.woff") format('woff'),
    	 url("fonts/dashicons.ttf") format("truetype"),
		 url("fonts/dashicons.svg#dashicons") format("svg"),
		 url("assets/scss/partials/fonts/dashicons.eot"); 
	font-weight: normal;
	font-style: normal;
}

.dashicons {
	font-family: "dashicons";
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	text-align: center;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	vertical-align: top;
	width: 16px;
	height: 16px;
	display: inline-block;
	-moz-transition: color .1s ease-in 0;
	-webkit-transition: color .1s ease-in 0;
}

/* Both Admin Menu and Post Formats */

.dashicons-admin-links:before,
.dashicons-format-links:before {
	content: "\f103";
}

.dashicons-admin-post:before,
.dashicons-format-standard:before {
	content: "\f109";
}


/* Post Format Icons */

.dashicons-format-image:before {
	content: "\f128";
}

.dashicons-format-gallery:before {
	content: "\f161";
}

.dashicons-format-audio:before {
	content: "\f127";
}

.dashicons-format-video:before {
	content: "\f126";
}

.dashicons-format-chat:before {
	content: "\f125";
}

.dashicons-format-status:before {
	content: "\f130";
}

.dashicons-format-aside:before {
	content: "\f123";
}

.dashicons-format-quote:before {
	content: "\f122";
}

.dashicons-camera:before { 
	content:"\f306";
}

.dashicons-images-alt:before {
	content:"\f232";
}

.dashicons-images-alt2:before {
	content:"\f233";
}

.dashicons-video-alt:before {
	content:"\f234";
}

.dashicons-video-alt2:before {
	content:"\f235";
}

.dashicons-video-alt3:before {
	content:"\f236";
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.8em;
}

h6 {
	font-size: 0.7em;
}

a {
	color: #08C;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative; 
}

a:hover { color: #0AF; }