// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1000px;
$fullWidth: 100%;

// Text Selection
$selectionColor: orange;

// Links
$linkColor: #369;
$linkHoverColor: #039;

// Other
