// Font Face
//@include fontface('dashicons', 'assets/scss/partials/fonts', 'dashicons');

// Structure
$pageWidth: 1000px;
$fullWidth: 100%;

// Text Selection
$selectionColor: orange;

// Links
$linkColor: #369;
$linkHoverColor: #039;

// Other
